@import "./global.scss";

.item {
  // background-color: orange;
  padding: 25px 30px;
  border-bottom: 1px solid $border-color;

  .item-header {
    .item-id {
      @include border-radius(50%);
      background-color: $header-background-color;
      color: $header-title-color;

      width: 28px;
      height: 28px;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: -15px;

      font-size: 12px;
      font-weight: 700;
      line-height: 28px;
    }

    .item-title {
      font-weight: 700;
      font-size: 16px;
      margin: 2px 0 8px;
      color: $body-title-color;
    }
  }

  .item-body {
  }
}

.profile-selection {
  display: flex;
  background-color: orange;
  overflow-x: scroll;
}

.profile {
  display: flex;
  border: 1px solid $border-color;
  min-width: 200px;

  .profile-img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    @include border-radius(50%);
  }

  .profile-info {
    margin-left: 12px;

    .profile-title {
      margin: 0;
      font-weight: 500;
      color: $body-title-color;
    }

    .profile-name {
      margin: 0;
      font-weight: 500;
      color: $body-title-color;
    }
  }
}
