@import "./global.scss";

$action-active-color: #583700;
$action-inactive-color: #dfdfdf;

$profile-title: #201607;
$profile-desc: #271c0a;

$section-title-color: #3f2e15;
$section-body-color: #2f1f01;

$section-h4-color: #a8771a;
$section-h5-color: #2f1f01;

.slider-container {
  padding: 12px 0;

  .slider-item {
    .profile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 80%;
      margin: 0 auto;
      padding: 0 12px;

      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      @include border-radius(4px);

      .profile-img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        @include border-radius(50%);
      }

      .profile-info {
        margin-left: 12px;
        flex: 1;

        .profile-name {
          margin: 0;
          font-weight: 500;
          color: $profile-title;
        }

        .profile-title {
          margin: 0;
          font-weight: 400;
          color: $profile-desc;
        }
      }
    }
  }
}

.carousel__slide-focus-ring {
  outline: 0;
}

.carousel-container {
  position: relative;
  margin: auto;
}

.left {
  svg {
    transform: rotate(90deg);
  }
}

.right {
  svg {
    transform: rotate(-90deg);
  }
}

.circle {
  width: 32px;
  height: 32px;
  @include border-radius(50%);

  border: none;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 16px;
    width: 16px;

    path {
      fill: $action-active-color;
    }
  }
}

.circle:disabled {
  cursor: default;

  svg {
    path {
      fill: $action-inactive-color;
    }
  }
}

.button-back {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);

  @extend .circle;
}

.button-next {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  @extend .circle;
}

.dot-group {
  text-align: center;

  .carousel__dot {
    margin-right: 2px;
    border: none;
    height: 4px !important;
    background-color: $action-inactive-color;
  }

  .carousel__dot--selected {
    height: 4px !important;
    background-color: $action-active-color;
    @include border-radius(1px);
  }
}

.big-profile {
  margin-top: 6px;

  .bp-section {
    margin: 0 0 12px;

    .bps-header {
      h3 {
        margin: 0 0 4px;
        font-size: 14px;
        color: $section-title-color;
      }
    }

    .bps-body {
      p {
        margin: 0;
        font-size: 14px;
        color: $section-body-color;
      }
      h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        color: $section-h4-color;
      }

      a {
        font-size: 14px;
        font-weight: 600;
        color: $section-h4-color;
        text-decoration: none;
      }

      .education-item {
        margin-bottom: 6px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .ei-date {
          font-weight: 600;
        }
      }

      table {
        width: 100%;
        border-spacing: 0;

        tr td:nth-child(2) {
          text-align: right;
        }
      }

      .contact {
      }
    }
  }
}
